:root {
    color-scheme: dark;
    font-family: system-ui, sans-serif;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.warningText {
    color: red;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

#metarBox {
    box-sizing: border-box;
    display: grid;
    gap: 5px;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    width: 100%;
}

#metarBox #icaoLabel {
    grid-column: 1;
}

#metarBox #icaoInput {
    grid-column: 2;
}

#metarBox #icaoButton {
    grid-column: 3;
}

#metarBox textarea {
    box-sizing: border-box;
    font-family: monospace;
    font-size: larger;
    grid-column: span 3;
    grid-row: 2;
    min-height: 6em;
    resize: vertical;
    width: 100%;
}

#squawkBox {
    display: grid;
    gap: 5px;
    grid-template-rows: 3fr 2fr;
    place-items: center;
}

#squawkBox span {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    grid-row: 1;
    width: 5ch;
}

#squawkBox button {
    grid-row: 2;
    height: 100%;
    width: 100%;
}

#todBox {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

#todBox div {
    display: flex;
    flex-direction: column;
}

#todBox input {
    align-self: center;
    text-align: center;
    width: 15ch;
}

#todBox span {
    text-align: center;
}

#todBox span.result {
    font-weight: bold;
}

fieldset {
    border: 1px solid;
}

label {
    text-align: center;
}

main {
    margin: auto;
    max-width: 95vw;
    width: fit-content;
}
